:root {
    --jaune: #FAB440;
    --violet: #4E47C6;
    --noirbleu: #07143F;
    --marron: #751172;
    --j: #211233;
    --b: #184b8c;
    --g: #554971;
    --t: #5c1041;
    --n: #30e6fa;
    --o: #f4f441;
}

body {
    font-family: "Poppins";
    color: aliceblue;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../Images/pexels-christina-morillo-1181676.png") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

header {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: var(--noirbleu);
    z-index: 1;
    opacity: 0.9;
}

.container {
    margin-bottom: 150px;
}

.header-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}

.header-contain h1 a {
    left: 0;
    text-decoration: none;
    color: aliceblue;
}

.header-contain nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/*.container {
    color: aliceblue;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}*/

span {
    border-bottom: solid;
    border-color: #40E0D0;
}

li {
    list-style-type: none;

}

ul {
    display: flex;
    justify-content: space-evenly;
}

#btn-menu {
    display: none;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
    display: inline-flex;
    position: relative;
    z-index: 1;
}

nav a:hover {
    color: var(--jaune);
}

nav a::before {
    width: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    justify-content: space-around;
    align-items: center;
    height: 1px;
    z-index: -1;
    transition: .5s;
    border-color: var(--jaune);
    border-bottom: solid;
}

nav a:hover::before {
    left: 0;
    right: 0;
    color: var(--jaune);
    width: 100%;
}

.comp {
    border-bottom: solid;
    border-color: var(--jaune);
}

nav {
    margin: 0;
}

.article {
    position: relative;
    background: var(--noirbleu);
    top: 100px;
    margin-right: 10%;
    margin-left: 10%;
    opacity: 0.9;
    padding: 2% 5%;
}

.article h3,
.article .corps {
    color: aliceblue;
}

.section-title h4::after {
    width: 120px;
    content: "";
    height: 1px;
    margin: 4px 15px;
    display: inline-block;
    background-color: var(--jaune);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}

.wrapper .start {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--jaune);
}

.wrapper .start:hover {
    position: absolute;
    color: var(--jaune);
    transition: .5s;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    border-radius: 18px;
    margin-bottom: 3%;
    overflow: hidden;
}

.card a {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10px;
    background-color: var(--jaune);
    text-decoration: none;
    border-radius: 10px;
    color: aliceblue;
    bottom: 0;
    transition: 0.5s;
}

.card a:hover {
    background-color: var(--marron);
    transition: 0.5s;
    color: var(--jaune);
}

.card .details {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--violet);
}

.card .details .poster {
    position: relative;
    top: 90%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card .details .text {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: 50%;
}

.card .details .sub-text {
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.card .details i {
    font-size: 150px;
}

.card-compe {
    position: relative;
    width: 325px;
    height: 200px;
    border-radius: 18px;
    margin-bottom: 3%;
    overflow: hidden;
}

.card-compe a {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10px;
    background-color: var(--jaune);
    text-decoration: none;
    border-radius: 10px;
    color: aliceblue;
    bottom: 0;
    transition: 0.5s;
}

.card-compe a:hover {
    background-color: var(--violet);
    transition: 0.5s;
    color: var(--jaune);
}

.card-compe .details {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--violet);
}

.card-compe .details .poster {
    position: absolute;
    top: 40%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-compe .details .text {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60%;
}

.card-compe .start .sub-text {
    font-size: 25px;
    text-align: center;
    width: 100%;
    position: relative;
    font-weight: bold;
    color: var(--jaune);
}

.card-compe .details i {
    font-size: 100px;
}

.card-compe .start .slider {
    height: 100%;
    background-color: var(--marron);
    left: 0;
    position: absolute;
}

.card-compe .start #html {
    width: 96%;
}

.card-compe .start #css {
    width: 65%;
}

.card-compe .start #js {
    width: 72%;
}

.card-compe .start #python {
    width: 87%;
}

.card-compe .start #java {
    width: 68%;
}

.card-compe .start #php {
    width: 63%;
}

#temoins .card .details .poster {
    top: 20px;
    max-height: 200px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

#temoins .card .details .text {
    top: 0px;
    max-height: 200px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

#temoins .card .details .sub-text {
    top: 0px;
    max-height: 200px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1015px) {
    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100%;
        flex-wrap: wrap;
    }

    .card {
        position: relative;
        width: 75%;
        height: 450px;
        background-color: var(--violet);
        padding: 1%;
        margin-bottom: 3%;
    }

    .card-compe {
        position: relative;
        width: 65%;
        height: 200px;
        background-color: var(--violet);
        padding: 1%;
        margin-bottom: 3%;
    }

    .header-contain nav ul {
        position: absolute;
        flex-direction: column;
        margin-left: 10%;
        background-color: var(--noirbleu);
        transition: 0.5s;
        justify-content: start;
        height: 100vh;
        opacity: 0.9;
    }

    nav ul li {
        transition: 0.5s;
        margin: 20px 0;
        max-width: 120px;
    }

    #btn-menu {
        position: absolute;
        display: block;
        right: 10%;
    }

    .menu-hiding a {
        text-decoration: none;
        color: aliceblue;
    }

    .menu-hiding:hover nav ul {
        margin-left: -20%;
        justify-content: none;
        transition: 0.5s;
    }

    .header-contain h1 {
        position: relative;
    }
}