:root {
    --jaune: #FAB440;
    --violet: #4E47C6;
    --noirbleu: #07143F;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    color: aliceblue;
    background: linear-gradient(to right, var(--violet), var(--noirbleu));
    background-size: cover;
}

header {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: var(--noirbleu);
    z-index: 1;
    opacity: 0.9;
}

.container{
    margin-bottom: 150px;
}

.header-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}

.header-contain h1 a {
    left: 0;
    text-decoration: none;
    color: aliceblue;
}

.header-contain nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/*.container {
    color: aliceblue;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}*/

span {
    border-bottom: solid;
    border-color: var(--jaune);
}

li {
    list-style-type: none;

}

ul {
    display: flex;
    justify-content: space-evenly;
}

#btn-menu{
    display: none;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
    display: inline-flex;
    position: relative;
    z-index: 1;
}

nav a:hover {
    color: var(--jaune);
}

nav a::before {
    width: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    justify-content: space-around;
    align-items: center;
    height: 1px;
    z-index: -1;
    transition: .5s;
    border-color: var(--jaune);
    border-bottom: solid;
}

nav a:hover::before {
    left: 0;
    right: 0;
    color: var(--jaune);
    width: 100%;
}

.portfolio {
    border-bottom: solid;
    border-color: var(--jaune);
}

nav {
    margin: 0;
}

.article {
    position: relative;
    background: var(--noirbleu);
    top: 100px;
    margin-right: 10%;
    margin-left: 10%;
    opacity: 0.9;
    padding: 2% 5%;
}

.article h3,
.article .corps {
    color: aliceblue;
}

.section-title h4::after {
    width: 120px;
    content: "";
    height: 1px;
    margin: 4px 15px;
    display: inline-block;
    background-color: var(--jaune);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}

.wrapper .details .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--jaune);
}

.wrapper .details-hidden {
    padding: 20px;
}

.wrapper .details {
    position: absolute;
    bottom: 0;
    height: 14%;
    transition: .5s;
    width: 100%;
    display: block;
    background-color: var(--violet);
    border-radius: 0px;

}

.wrapper .details:hover {
    position: absolute;
    height: 75%;
    transition: .5s;
}

.card {
    position: relative;
    object-fit: scale-down;
    overflow: hidden;
    width: 325px;
    height: 450px;
    border-radius: 18px;
    margin-bottom: 3%;
}

.card a {
    padding: 10px;
    background-color: var(--jaune);
    text-decoration: none;
    border-radius: 10px;
    color: aliceblue;
    transition: 0.5s;
}

.card a:hover {
    background-color: var(--noirbleu);
    transition: 0.5s;
}

.card .poster {
    position: relative;
    width: 100%;
    height: 100%;
}

.card .poster img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.card .rating {
    margin-top: 20px;
}

.projects{
    margin-top: 100px;
}

.project{
    display: flex;
    background-color: var(--violet);
    padding: 20px;
    margin: 20px 0;
}

.project .poster{
    width: 100%;
    position: relative;
}

.project .poster img{
    width: 100%;
}

.project .text{
    padding: 0px 20px 20px 20px;
}

.project h2{
    margin: 0 0 10px 0;
}

.project .text ul{
    margin: 30px;
    padding: 0;
}

.project .text ul li a{
    padding: 20px;
    background-color: var(--jaune);
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

.project .text ul li a:hover{
    background-color: var(--noirbleu);
    color: var(--jaune);
    transition: 0.5s;
}

@keyframes slidein {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@media screen and (max-width: 1015px) {
    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100%;
        flex-wrap: wrap;
    }
    
    .card {
        position: relative;
        width: 75%;
        height: 450px;
        margin-bottom: 2%;
    }

    .header-contain nav ul{
        position: absolute;
        flex-direction: column;
        margin-left: 10%;
        background-color: var(--noirbleu);
        transition: 0.5s;
        justify-content: start;
        height: 100vh;
        opacity: 0.9;
    }

    nav ul li{
        transition: 0.5s;
        margin: 20px 0;
    }

    #btn-menu{
        position: absolute;
        display: block;
        right: 10%;
    }

    .menu-hiding a{
        text-decoration: none;
        color: aliceblue;
    }

    .menu-hiding:hover nav ul{
        margin-left: -20%;
        justify-content: none;
        transition: 0.5s;
    }

    .header-contain h1{
        position: relative;
    }

    .project{
        display: block;
    }
}