:root {
    --jaune: #FAB440;
    --violet: #4E47C6;
    --noirbleu: #07143F;
}

body {
    font-family: "Poppins";
    margin: 0;
}

h1 {
    font-size: 50px;
}

html {
    scroll-behavior: smooth;
}

#back {
    background: #040404 url("../Images/pexels-christina-morillo-1181676.png") top right no-repeat;
    background-size: cover;
    height: 100vh;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    color: aliceblue;
    display: grid;
    flex-direction: column;
    background-color: #040404;
}

#present {
    margin-left: 5%;
    position: relative;
    top: 30%;
}

.row {
    display: flex;
}

#more {
    position: relative;
    background: rgba(0, 28, 57, 0.9);
}

#more h2 {
    margin: 0;
    font-size: 30px;
}

span {
    border-bottom: solid;
    border-color: var(--jaune);
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

#present li {
    list-style: none;
    margin-right: 20px;
}

#present .socials a {
    background: var(--noirbleu);
    padding: 15px;
    border-radius: 50%;
    transition: .5s;
}

#present .socials a:hover {
    background: var(--violet);
    padding: 15px;
    border-radius: 50%;
    transition: .5s;
}

.socials {
    margin-top: 30px;
}

.socials i {
    color: var(--jaune);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
    display: inline-flex;
    position: relative;
    z-index: 1;
}

nav a:hover {
    color: var(--jaune);
}

nav a::before {
    width: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    justify-content: space-around;
    align-items: center;
    height: 1px;
    z-index: -1;
    transition: .5s;
    border-color: var(--jaune);
    border-bottom: solid;
}

nav a:hover::before {
    left: 0;
    right: 0;
    color: var(--jaune);
    width: 100%;
}

.home {
    border-bottom: solid;
    border-color: var(--jaune);
}

.about {
    margin-top: 100px;
    list-style: none;
}

.about ul li {
    margin-right: 5px;
    backdrop-filter: blur(11.8px);
}

.about ul li .bouton-more {
    text-decoration: none;
    border-radius: 16px;
    padding: 20px;
    margin-right: 5px;
    backdrop-filter: blur(11.8px);
    color: var(--jaune);
    border-color: var(--jaune);
    border-style: solid;
    transition: .5s;
}

.about ul li .bouton-more:hover {
    color: var(--noirbleu);
    background-color: var(--jaune);
    transition: .5s;
}

.about ul li .bouton-contact {
    text-decoration: none;
    background-color: var(--jaune);
    border-radius: 16px;
    padding: 20px;
    margin-right: 5px;
    backdrop-filter: blur(11.8px);
    color: var(--noirbleu);
    border-style: solid;
    border-color: var(--jaune);
    transition: .5s;
}

.about ul li .bouton-contact:hover {
    color: var(--jaune);
    background-color: var(--noirbleu);
    border-color: var(--noirbleu);
    transition: .5s;
}

.about2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.about2 ul li a {
    text-decoration: none;
    border-radius: 16px;
    padding: 10px;
    backdrop-filter: blur(11.8px);
    color: var(--jaune);
}

.learn-about-me .row h2 {
    color: var(--jaune);
}

.section-title h2::after {
    width: 120px;
    content: "";
    height: 1px;
    display: inline-block;
    margin: 4px 10px;
    background-color: var(--jaune);
}

.learn-about-me {
    background: var(--noirbleu);
    margin: 0 5%;
    padding: 20px;
}

.learn-about-me .img {
    background: rgba(0, 28, 57, 0.9);
    margin: 0 5%;
}

.learn-about-me .row img {
    width: 100%;
}

.learn-about-me .row .col1 {
    width: 33%;
    margin-right: 1%;
    max-height: 450px;
    border-radius: 50px;
    overflow: hidden;
}

.learn-about-me .row .col2 {
    width: 66%;
}

.learn-about-me li {
    display: flex;
    align-items: center;
    margin: 20px;
}

.learn-about-me .row ul {
    padding: 0;
}

.learn-about-me .row li i {
    color: var(--jaune);
    margin-right: 5px;
}

.learn-about-me .col2 .row {
    justify-content: space-between;
}

.livraison {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 100%;
}

.livraison ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.livraison ul li {
    background: var(--violet);
    font-size: 20px;
    width: 200px;
    height: 170px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 18px;
    margin-bottom: 3%;
}

.livraison ul li span {
    font-size: 40px;
}

.livraison ul li i {
    top: -25%;
    position: relative;
    font-size: 40px;
}

@media screen and (max-width: 1015px) {
    #learn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #learn .col1 {
        width: 70%;
        height: auto;
    }

    #learn .col2 {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .about {
        justify-content: center;
        align-content: center;
        display: flex;
    }

    .about .row {
        flex-direction: column;
    }

    .about .row li {
        margin-bottom: 80px;
    }
}